params {
	// Config Params
	config_profile_description = 'SISP HPC cluster profile provided by nf-core/configs.'
	config_profile_contact = 'Heng (kriengkrai.phg@student.mahidol.ac.th)'
	config_profile_url = 'https://sisyspharm.org'
	//igenomes_base = '/sisplockers/applied-genomics/references/iGenomes/references/'

	// Resources
	max_cpus = 112
	max_memory = 512.GB
	max_time = 96.h
}
process {
	executor = 'slurm'
	queue = 'all'
	clusterOptions = '-p UNLIMITED'
	//beforeScript = 'module load singularity'
}

// Preform work directory cleanup after a successful run
//cleanup = true